*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', 'sans-serif';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
}

header{
    padding:20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #413a3b;
    margin-bottom: 1rem;
    margin: auto;
    margin-top: 40px;
    max-width: 350px;
    text-align: center;
    padding: 5px 8px;
    font-family:cursive;
}

form{
    margin-top: 30px;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: #1F2937;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: #EEE;
    font-size: 1.25rem;
}

#new-task-input ::placeholder{
    color: #6B7280;
}

#new-task-submit{
    color: #EC4899;
    font-size: 1.25rem;
    font-weight: 700;
    /* background-image: linear-gradient(to right, #EC4899 ,#8B5CF6);
    -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    cursor: pointer;
    transition: 0.4s;

}

#new-task-submit:hover{
    font-size: 2rem;
}

#new-task-submit:active{
    opacity: 0.6;
    color: aliceblue;
}

main{
    flex: 1 1 0;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #363233;
    margin-bottom: 1rem;
    font-family: fantasy;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text{
    color: #FFF;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .taxt:not(:read-only){
    color:#EC4899;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .actions {
    display: flex;
    margin: 0 --0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0,6;
}

.task .actions .edit {
    color:#EC4899;
    font-weight: 700;
    /* background-image: linear-gradient(to right, #EC4899,#8B5CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.task .actions .delete {
    color: crimson;
}